section{
	width: 100%;
	min-height: 280px !important;
	float: none !important;
	text-align: center;

}
footer{
	background: black;
	color: white;
	height: 80px;
	float: none;
}
article{
	width: 980px;
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

}
.navbar-nav li{
	list-style: none;
	margin-right: 10px;
	padding-top: 30px;
}
.navbar-nav li a:hover{
	text-decoration: none;
}
#parallax, #contacto{
	background: #f1f1f1;
}
#quienes-somos p{
	width: 320px;
	text-align: left;
}
#quienes-somos figure, #quienes-somos p{
	display: inline-block;
	vertical-align: top;
}
#servicios li{
	display: inline-block;
	list-style: none;
	width: 200px;
	height: 200px;
	margin: 5px 10px;
	background-size: 100% 100%;
}
#servicio-1{
	background: url('../img/servicio1.png');
}
#servicio-2{
	background: url('../img/servicio2.jpg');
}
#servicio-3{
	background: url('../img/servicio3.png');
}
#bar-logo{
	width: 110px;
height: 50px;
background: url('../img/logo.png') no-repeat;
background-size: auto 100%;
}

#slider, #slider ul li, #slider ul{
	height: 400px !important;
}

#slider {text-align:center;position: relative; overflow: auto; width: 100% !important;  }

#slider #container-slider li { list-style: none; padding-top: 160px;  }
#slider ol{ margin: 0; padding: 0;}


#slider ul li { float: left; background-size: cover;}
#slider ul {margin:0; padding: 0; }
.navbar{margin: 0;}
#slider h2{ color: white; font-weight: bold; font-size: 38px; text-shadow: 1px 1px 2px black;}
#slider p{
	color: rgba(255,255,255,.6);
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
	margin-bottom: 30px;
}
#slider a{
	color: white;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 8px;
	padding: 10px 5px;
}	
#slide_1{
	background: url('../img/subway.jpg') no-repeat;
}
#slide_2{
	background: url('../img/sunset.jpg') no-repeat;	
}
#slide_3{
	background: url('../img/wood.jpg') no-repeat;	
}

.dot {
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}
	
.dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;	
}

.dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.dots li.active {
	background: #fff;
	opacity: 1;
}

#contacto article{
	width: 600px;
	position: relative;
	top: 20px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: left;

}
#contacto input, #contacto textarea{
	width: 200px;
	position: relative;
}
#contacto button{
	position: absolute;
	left: 212px;
	top: 110px;
}
#campo_1{
	left: 3px;
}
#campo_2{
	left: 10px;
}
#contacto form, #contacto div{
	display: inline-block;
	vertical-align: top;
}
#parallax-section{
	position: relative;
	min-height: 900px !important;
	width: 100%;
	min-width: 1000px;
	margin: 0;
	padding:0;
	overflow: hidden;
}
#parallax-section article{
	position: absolute;
	top: 200px;
	width: 650px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 4;
}
#parallax-section article h3{
	font-size: 48px;
	font-weight: bold;
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
}
#parallax-section article p{
	font-size: 28px;
}
.parallax{
	height: 1400px;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#objeto_fondo{
	background: url("../img/bottle.jpeg") 50% 0% no-repeat fixed;
}
#objeto_zapato{
	background: url("../img/nike.png") 50% 0% no-repeat fixed;
	left: 100px;
	
}
